# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package for dingbot to Pypi

on:
  release:
    types: [created]

jobs:
  build:
    name: build the package
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: steps
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install pypi/build
      run: >-
        python -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        build
        --sdist
        --wheel
        --outdir dist/
    - name: Publish distribution  to PyPI
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}

